:root {
--light-grey: hsl(217, 12%, 63%);
--medium-grey: hsl(216, 12%, 54%);
--dark-blue: hsl(213, 19%, 18%);
--very-dark-blue: hsl(216, 12%, 8%);
--hover-orange: hsl(25, 97%, 53%);
--clicked-gray: #7C8798;
}

body {
    font-family: 'Overpass', sans-serif;
    color: var(--light-grey);
    background-color: var(--very-dark-blue);
}

p {
    font-size: 15px;
}

.container {
    background-color: var(--dark-blue);
    border-radius: 20px;
    overflow: visible;
    position: relative;
    margin: 200px auto 15px auto;
    width: 350px;
    height: 300px;
    padding: 35px; 
}

h1 {
    color: #fff;
}

.rating {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 150%;
    cursor: pointer;
    background-color: var(--very-dark-blue);
    color: var(--light-grey);
    border: none;
    text-align: center;
}

.rating:hover {
    background-color: var(--hover-orange);
    color: #fff;
}

.rating:active {
    background-color: var(--medium-grey);
    color: #fff;
}

.submit-rating {
    width: 100%;
    color: #fff;
    background-color: var(--hover-orange);
    border: none;
    border-radius: 25px;
    height: 50px;
    font-size: 125%;
    cursor: pointer;
    margin-top: 20px;
}

.submit-rating:hover {
    background-color: #fff;
    color: var(--hover-orange);
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

.image-circle {
    border-radius: 50%;
    background-color: var(--very-dark-blue);
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-circle img {
    /* width: 50%; */
    height: auto;
}

#selected-button {
    background-color: #7C8798;
    color: #fff;
}